@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap');

:root {
  --primary-color: #0055ff;
  --bg-color: #ffffff;
  --text-main: #111111;
  --text-nav: #555555;
  --text-footer: #777777;
  --border-color: #666666;
  --page-line: #999999;
}

body.dk {
  --primary-color: #d4ff00;
  --bg-color: #222222;
  --text-main: #fdfdfd;
  --text-nav: #dddddd;
  --text-footer: #aaaaaa;
  --border-color: #eeeeee;
  --page-line: #bbbbbb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Hepta Slab', sans-serif;
  color: var(--text-main);
  background-color: var(--bg-color);
  user-select: none;
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

body::before,
body::after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--page-line);
  z-index: -1;
}

body::before {
  left: calc(50% - 490px);
}

body::after {
  right: calc(50% - 490px);
}

.highlight {
  color: var(--primary-color);
}

header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .box {
  width: 740px;
  height: 50px;
  border: var(--border-color) 1px solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  transition: 0.5s;
}

header .logo {
  width: 180px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

header .logo a {
  color: var(--text-main);
  font-size: 12px;
  display: block;
  line-height: 1;
}

#gnb {
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#gnb a {
  font-size: 12px;
  color: var(--text-nav);
  transition: color 0.3s;
}

#gnb a:hover {
  color: var(--text-main);
}

header .switch {
  width: 80px;
  height: 40px;
  position: relative;
}

header .switch button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

header .switch button.on {
  display: block;
}

header .box.sticky {
  width: 970px;
  height: 70px;
  position: fixed;
  top: 5px;
  backdrop-filter: saturate(50%) blur(20px);
  border: none;
  z-index: 20;
  box-shadow: 0 5px 20px rgba(17, 17, 17, 0.25);
}

header .box.sticky #gnb {
  gap: 70px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

main section {
  position: relative;
}

main section::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 35px);
  width: 780px;
  height: 1px;
  background-color: var(--page-line);
}

main section:last-child::after {
  display: none;
}

#hero {
  height: 720px;
}

#hero .container {
  max-width: 980px;
  margin: auto;
}

#hero .text {
  width: 580px;
  margin: 0 auto;
  padding: 62px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#hero .text .title h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
}

#hero .text .title h2 b {
  font-weight: 800;
}

#hero .text .content {
  width: 480px;
}

#hero .text .content span {
  font-size: 16px;
  line-height: 26px;
}

.social {
  display: flex;
  gap: 28px;
  align-items: center;
  height: 24px;
}

.social a svg {
  transition: stroke 0.3s;
}

#hero .social a svg {
  stroke: var(--text-main);
}

#footer .social a svg {
  stroke: var(--text-footer);
}

#hero .social a:hover svg,
#footer .social a:hover svg,
.social a:hover svg {
  stroke: var(--primary-color);
}

#about .highlight,
.cards .highlight {
  font-weight: 600;
}

#about {
  min-height: 580px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about .container {
  width: 920px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#about .text {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
}

#about .text .title h3 {
  font-size: 24px;
}

#about .text .content {
  font-size: 16px;
  line-height: 30px;
}

#about .text .content h4 {
  display: flex;
  align-items: center;
  gap: 8px;
}

#about .text .content h4 svg {
  stroke: var(--primary-color);
}

.cards .cards-container {
  width: 980px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
  margin: 0 auto;
}

.cards .text {
  display: flex;
  gap: 30px;
  width: 920px;
  flex-direction: column;
}

.cards .title h3 {
  font-size: 24px;
}

.cards .content {
  font-size: 16px;
  line-height: 30px;
}

.cards .items {
  display: grid;
  width: 920px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.cards .items .item {
  display: block;
  width: 450px;
  height: 220px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

.cards .items .item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(85, 85, 85, 0.5);
  transition: 0.3s ease-in;
}

.cards .items .item .item-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s 0.3s ease-in-out;
}

.cards .items .item .item-text span {
  color: #fdfdfd;
  font-weight: 600;
  font-size: 24px;
  line-height: 2.5;
}

.cards .items .item:hover .item-text {
  opacity: 1;
}

.cards .items .item:hover::after {
  background-color: rgba(85, 85, 85, 0.3);
}

#work .items .item:nth-of-type(1) {
  background: url(../assets/img/work1.png) top/cover;
}

#work .items .item:nth-of-type(2) {
  background: url(../assets/img/work2.png) top/cover;
}

#work .items .item:nth-of-type(3) {
  background: url(../assets/img/work3.png) top/cover;
}

#work .items .item:nth-of-type(4) {
  background: url(../assets/img/work4.png) top/cover;
}

#projects .items .item:nth-of-type(1) {
  background: url(../assets/img/pro1.png) top/cover;
}

#projects .items .item:nth-of-type(2) {
  background: url(../assets/img/pro2.png) top/cover;
}

#projects .items .item:nth-of-type(3) {
  background: url(../assets/img/pro3.png) top/cover;
}

#projects .items .item:nth-of-type(4) {
  background: url(../assets/img/pro4.png) top/cover;
}

#projects .items .item:nth-of-type(5) {
  background: url(../assets/img/pro5.png) top/cover;
}

#projects .items .item:nth-of-type(6) {
  background: url(../assets/img/pro6.png) top/cover;
}

footer {
  height: 100px;
  margin-top: 70px;
}

footer .container {
  width: 920px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
}

footer .copy span {
  font-size: 12px;
  color: var(--text-footer);
}
